.res-txt-cl{
	color: #808080 !important;
	font-size: 18px;
	font-weight: bold;
}
.rv-col-1{
	background-color: gray;
	border-radius: 1%;
}
.rv-col-2{
	
}
.rv-left-dsgn{
	font-size: 15px;
	font-weight: 2px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.rv-pi{
	color: black;
	font-size: 18px;
}
.rv-check{
	font-family: system-ui, sans-serif;
  	font-size: 2rem;
  	font-weight: bold;
  	line-height: 1.1;
}
@media screen and (max-width: 600px) {
  .--hide-mb{
    display: none !important;
  }
  .title_message {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .tesda-md{
    position: relative !important;
    bottom: 5px;
    left: -120px;
  }
  .rtciligan-md{
  	position: relative !important;
    bottom: 105px;
    left: 0px;
  }
  .trans-md{
 	 position: relative !important;
	 bottom: 205px !important;
	 right: -120px !important;
	 
  }
  .link1-md{
  	 position: relative !important;
    bottom: 170px;
    left: -120px;
  }
  .link2-md{
  	   position: relative !important;
    bottom: 335px;
    left: 80px;
  }
  
  .footer-gasa{
     position: relative !important;
     bottom: 300px;
     align-content: center;
  }
  .ft-ht{
  	background-color: gray !important;
  	height: 480px !important;
  	overflow-y:hidden !important;
  }
 .--section-hdr-hidden-xs{
  display: none !important;
 }
 .--hidden{
  display: none !important;
 }
 .float-sm
 {
  float: right !important;
 }
.--wd
{
  width: 200px;
}
}
.ftr-wht {
	color: #ffffff !important;
	
}
.bc-design {
  border-radius: 50% 50% 30% 70% / 21% 5% 95% 79% ;
  word-break: break-all !important;
  width: 100%;
  height: 450px;
  background: #5f8ee394 !important;
  background: -webkit-linear-gradient(to bottom right,
      #f6c102,
      #ffe496);
  background: linear-gradient(to bottom right,
      #f6c102,
      #ffe496);
}
.error-rev{
  color: #4285f4 !important;
}

@media screen and (max-width: 1400px) {
  .--hide-dsk {
    display: hidden !important;
  }
  .--section-hdr-hidden-md{
    display: none !important;
  }
  .--hidden-md{
    display: none !important;
  }
}

.card-transition{
  transition: all 0.2s ease;
  cursor: pointer;
}
.card-transition:hover{
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}

@font-face {
  font-family: 'averta-bold';
  src: url("../font/averta-extrabold.otf") format("opentype");
}
@font-face {
  font-family: 'averta-normal';
  src: url("../font/averta-normal.otf") format("opentype");
}
.--avt-bold{
  font-family: 'averta-bold';
  font-size: 35px;
}
.--avt-normal{
  font-family: 'averta-normal';
}
.--avt-fs6{
  font-family: 'averta-normal';
  font-size: 12px;
}
.--avt-fs5{
  font-family: 'averta-normal';
  font-size: 15px;
}
.--avt-fs4{
  font-family: 'averta-normal';
  font-size: 20px;
}
.--avt-fs3{
  font-family: 'averta-normal';
  font-size: 25px;
}
.--avt-fs2{
  font-family: 'averta-normal';
  font-size: 30px;
}
.--avt-fs1{
  font-family: 'averta-normal';
  font-size: 35px;
}
.--txt-r
{
  float: left !important;
}
.--fs25
{
  font-size: 25px;
}
.--fs15
{
  font-size: 15px;
}
.--fs20
{
  font-size: 20px;
}
.--center
{
  align-items: center;
  justify-content: center;
}
.--theme-color{
  background-color: #0038a8;
}
.--blue-color{
  color: #0000ff;
}
.--blue-title{
  color:#1835a6;
}
.--white-color{
  color: #ffffff;
}
.--light-bg-color{
  color: #f6f6f6;
}
.--yellow-btn{
  color: #f8c825;
}
.--cp-ft{
  color: #191919;
}
.--section-hdr{
  height: 50px !important;
}
