.res-txt-cl{
	color: #808080 !important;
	font-size: 18px;
	font-weight: bold;
}
.rv-col-1{
	background-color: gray;
	border-radius: 1%;
}
.rv-col-2{
	
}
.rv-left-dsgn{
	font-size: 15px;
	font-weight: 2px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.rv-pi{
	color: black;
	font-size: 18px;
}
.rv-check{
	font-family: system-ui, sans-serif;
  	font-size: 2rem;
  	font-weight: bold;
  	line-height: 1.1;
}
@media screen and (max-width: 600px) {
  .title_message {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .tesda-md{
    position: relative !important;
    bottom: 5px;
    left: -120px;
  }
  .rtciligan-md{
  	position: relative !important;
    bottom: 105px;
    left: 0px;
  }
  .trans-md{
 	 position: relative !important;
	 bottom: 205px !important;
	 right: -120px !important;
	 
  }
  .link1-md{
  	 position: relative !important;
    bottom: 170px;
    left: -120px;
  }
  .link2-md{
  	   position: relative !important;
    bottom: 335px;
    left: 80px;
  }
  
  .footer-gasa{
     position: relative !important;
     bottom: 300px;
     align-content: center;
  }
  .ft-ht{
  	background-color: gray !important;
  	height: 480px !important;
  	overflow-y:hidden !important;
  }
}
.ftr-wht {
	color: #ffffff !important;
	
}
.bc-design {
  border-radius: 50% 20% / 60% 40%;
  width: 100px;
  height: 150px;
  background: #f6c102 !important;
  background: -webkit-linear-gradient(to bottom right,
      #f6c102,
      #ffe496);
  background: linear-gradient(to bottom right,
      #f6c102,
      #ffe496);
}

